<h3 class="page-header">
  <% if @mechanic %>
    余额变化记录 <small>技师 #<%= @mechanic.id %> <%= @mechanic.user_nickname %></small>
  <% elsif @merchant %>
    余额变化记录 <small>商家 #<%= @merchant.id %> <%= @merchant.store_nickname %></small>
  <% else %>
    余额变化记录
  <% end %>
</h3>
 <%= index_for [ :admin, @metrics ], class: "table table-hover data-tables" do |i| %>
    <%= i.attribute :source_type %>
    <%= i.fields_for :data,model: data do |ii| %>
    	<%= ii.attribute :reason %>
    	<%= ii.attribute :amount %>
    <% end %>
    
    <%= i.actions :show  %>
  <% end %>
