<h3 class="page-header">
  <% if @mechanic %>
    余额变动记录 <small>技师 #<%= @mechanic.id %> <%= @mechanic.user_nickname %></small>
  <% elsif @merchant %>
    余额变动记录 <small>商家 #<%= @merchant.id %> <%= @merchant.store_nickname %></small>
  <% else %>
    余额变动记录
  <% end %>
</h3>
 <%= wice_index_for [ :admin, @metrics ], class: "table table-hover " do |i| %>
    <%= i.attribute :source_type %>
    <%= i.attribute :data_reason %>
 	  <%= i.attribute :data_amount %>
    <%= i.attribute :created_at, format: :long%>
    <%= i.actions do |a| %>
    	<% if i.object.source_type =="Order" %>
    	<%= a.action_link :show, url: admin_order_path(i.object.source_id) %>
        <% end %>
     <% end %>
  <% end %>
