<h3 class="page-header">部分核销</h3>
  <% @end_date = if(params[:end_date].present?) 
      Date.parse(params[:end_date])
    else
      nil 
    end 
    if @end_date.present?
      @partchecks=@partchecks.where(created_at: (@end_date)..(@end_date+1.day))
    end
  %>

<div class="row">
  <%= render "admin/reports/side_menu" %>
  <form class="form-inline" id="partchecks_form" ">
    <div class="form-group">
      核销时间 <input type="text" id="end_date" name="end_date" value="<%=  @end_date %>"><%= submit_tag("Search") %>
    </div>

  </form>
  <div class="col-md-10 col-xs-8">
     <% @partchecks = @partchecks.includes(:order).joins(:order) %>
	<%= index_for [ :merchants, :hosting, @partchecks ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :created_at, format: :short %>
      <%= i.fields_for :order, model: Order do |ii| %>
          <%= ii.attribute :store_nickname %>
          <%= ii.attribute :contact_nickname %>
          <%= ii.attribute :contact_mobile %>
          <%= ii.attribute :skill %>
      <% end %>
      <%= i.attribute :quoted_price %>
      <%= i.attribute :quantity %>
      <%= i.attribute :mechanic_income %>
      <%= i.attribute :procedure_price %>
      <%= i.attribute :remark %>
      <%= i.attribute :confirm_by  %>
      <%= i.actions do |a| %>
      <%= a.action_link :show, url: admin_order_path(i.object.order_id) %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
  
    $( "#end_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @end_date %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

    var $form = $("#partchecks_form");
    $form.prependTo($("#partchecks_filter"));
    alert($("#partchecks_filter").html) 
  });
        
</script>