<h3 class="page-header">部分核销</h3>

<div class="row">
  <%= render "admin/reports/side_menu" %>

  <div class="col-md-10 col-xs-8">
     <% @partchecks = @partchecks.includes(:order).joins(:order) %>
	<%= index_for [ :merchants, :hosting, @partchecks ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :created_at, format: :short %>
      <%= i.fields_for :order, model: Order do |ii| %>
          <%= ii.attribute :store_nickname %>
          <%= ii.attribute :contact_nickname %>
          <%= ii.attribute :contact_mobile %>
          <%= ii.attribute :skill %>
      <% end %>
      <%= i.attribute :quoted_price %>
      <%= i.attribute :quantity %>
      <%= i.attribute :mechanic_income %>
      <%= i.attribute :procedure_price %>
      <%= i.attribute :remark %>
      <%= i.attribute :confirm_by  %>
    <% end %>
  </div>
</div>