<div class="row">
  <%= render "admin/reports/side_menu" %>

  <div class="col-md-10 col-xs-8">

    <%= wice_index_for [ :admin, @orders ], class: "table table-hover" do |i| %>
      <%= i.attribute :finish_working_at, sortable: "orders.finish_working_at",format: :short %>
      <%= i.attribute :user_nickname, searchable: "users.nickname" %>
      <%= i.attribute :contact, sortable: "orders.contact_nickname", searchable: "orders.contact_nickname" %>
      <%= i.attribute :contact_mobile, searchable: "orders.contact_mobile" %>
      <%= i.attribute :skill, sortable: "orders.skill_cd", filterable: { "orders.skill_cd" => Order.skills[params[:search]] } %>
      <%= i.attribute :price, sortable: "orders.quoted_price" %>
      <%= i.attribute :mechanic_income %>
      <%= i.attribute :profit, sortable: "orders.procedure_price" %>
      <%= i.attribute :state, sortable: ["orders.state_cd", "orders.cancel_cd", "orders.refund_cd"], filterable: { "orders.state_cd" => Order.states[I18n.t("enums.state").key(params[:search])], "orders.cancel_cd" => Order.cancels[I18n.t("enums.cancel").key(params[:search])], "orders.refund_cd" => Order.refunds[I18n.t("enums.refund").key(params[:search])] } do |order| %>
        <% if order.canceled? %>
          <%= te order, :cancel %>
        <% elsif order.refunded? %>
          <%= te order, :refund %>
        <% else %>
          <%= te order, :state %>
        <% end %>
      <% end %>

      <%= i.actions :show %>
    <% end %>

  </div>
</div>