<div class="row">
  <%= render "admin/reports/side_menu" %>
  <% @end_date = if(params[:end_date].present?) 
      Date.parse(params[:end_date])
    else
      nil 
    end 
    byebug
    if @end_date.present?
      @orders=@orders.where(finish_working_at: (@end_date)..(@end_date+1.day))
    end
  %>
  <form class="form-inline" id="orders_form" ">
    <div class="form-group">
      确认完工时间 <input type="text" id="end_date" name="end_date" value="<%=  @end_date %>"><%= submit_tag("Search") %>
    </div>

  </form>
  <div class="col-md-10 col-xs-8">

    <%= wice_index_for [ :admin, @orders ], class: "table table-hover" do |i| %>
      <%= i.attribute :finish_working_at, sortable: "orders.finish_working_at",format: :short %>
      <%= i.attribute :user_nickname, searchable: "users.nickname" %>
      <%= i.attribute :contact, sortable: "orders.contact_nickname", searchable: "orders.contact_nickname" %>
      <%= i.attribute :contact_mobile, searchable: "orders.contact_mobile" %>
      <%= i.attribute :skill, sortable: "orders.skill_cd", filterable: { "orders.skill_cd" => Order.skills[params[:search]] } %>
      <%= i.attribute :price, sortable: "orders.quoted_price" %>
      <%= i.attribute :mechanic_income %>
      <%= i.attribute :profit, sortable: "orders.procedure_price" %>
      <%= i.attribute :confirm_by, sortable: "orders.confirm_by" %>
      <%= i.attribute :state, sortable: ["orders.state_cd", "orders.cancel_cd", "orders.refund_cd"], filterable: { "orders.state_cd" => Order.states[I18n.t("enums.state").key(params[:search])], "orders.cancel_cd" => Order.cancels[I18n.t("enums.cancel").key(params[:search])], "orders.refund_cd" => Order.refunds[I18n.t("enums.refund").key(params[:search])] } do |order| %>
        <% if order.canceled? %>
          <%= te order, :cancel %>
        <% elsif order.refunded? %>
          <%= te order, :refund %>
        <% else %>
          <%= te order, :state %>
        <% end %>
      <% end %>

      <%= i.actions :show %>
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $(function() {
  
    $( "#end_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @end_date %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

    var $form = $("#orders_form");
    $form.prependTo($(".index_for_filter"));

      $('#end_date').on('keypress',function(event){ 
         if(event.keyCode == 13) 
         {  
             $form.submit();
         }  
      });


  });
        
</script>