  <% 
  @start_date = if(params[:start_date]) 
      Date.civil(params[:start_date][:year].to_i, params[:start_date][:month].to_i, params[:start_date][:day].to_i)
    else
      Date.today-3.year
      end %>
  <% @end_date = if(params[:end_date]) 
      Date.civil(params[:end_date][:year].to_i, params[:end_date][:month].to_i, params[:end_date][:day].to_i)
    else
      Date.today 
    end  %>


  <% @provinces_data = Province.all.map do |o|
      o.name
     end %>
      <% 
      @data = Province.all.map do |o|
        
        Order.where(mechanic:Mechanic.where("unique_id like '%汽车堂联盟2%' ")).where(province_cd:o.id).where(created_at: (@start_date)..(@end_date+1.day)).count      
     end %> 
 <script type="text/javascript" src="https://cdn.bootcss.com/echarts/3.7.1/echarts.common.min.js"></script>

<form class="form-inline" id="reports_form">
      <%= select_date @start_date, prefix: :start_date %> 到 <%= select_date @end_date, prefix: :end_date %>
      <%= submit_tag("Search") %>
 </form>
 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 800px;height:980px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '2系列技师订单数'
            },
            tooltip: {},
            legend: {
                data:['订单数']
            },
            yAxis: {
                data: <%= raw @provinces_data %>
            },
            xAxis: {},
            series: [{
                name: '订单数',
                type: 'bar',
                data: <%= raw @data %>
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
