
<div class="row">
  <%= render "admin/reports/side_menu" %>

  <div class="col-md-10 col-xs-8">

  <% @end_date = if(params[:end_date]) 
      Date.parse(params[:end_date])
    else
      Date.today 
    end 
  %>

  <form class="form-inline" id="reports_form">日报表时间 <input type="text" id="end_date" name="end_date" value="<%=  @end_date %>"> <%= submit_tag("Search") %></form>
 <h5>本日利润元，其中普通利润<%= @orders_profit %>元、调整利润元。 </h5>
 <h5>余额增加元，直接支付元。 </h5>
  </div>
</div>

<script type="text/javascript">
  $(function() {
  
    $( "#end_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @end_date %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

  });
        
</script>


