 <%
  numbers_json=@order.numbers.as_json(only: %w(id status  pwd_number ))
 %>
<h3 class="page-header">
  订单详情 #<%= @order.id %>
  <small>
    <% if @order.canceled? %>
      <%= te @order, :state %> - <%= te @order, :cancel %>
    <% elsif @order.refunded? %>
      <%= te @order, :state %> - <%= te @order, :refund %>
    <% else %>
      <%= te @order, :state %>
    <% end %>
  </small>
</h3>

<div class="row">
  <div class="col-sm-6">
    <h4 class="col-sm-offset-1">交易信息</h4>

    <%= show_for @order, class: "dl-horizontal" do |i| %>
      <% if @order.mobile? %>
        <%= i.attribute :user_nickname %>
        <%= i.attribute :user_mobile %>
      <% else %>
        <%= i.attribute :merchant_nickname %>
        <%= i.attribute :merchant_mobile %>
        <%= i.attribute :contact_nickname %>
        <%= i.attribute :contact_mobile %>
      <% end %>

      <%= i.attribute :state do |order| %>
        <% if order.canceled? %>
          <%= te order, :state %> - <%= te order, :cancel %>
        <% elsif order.refunded? %>
          <%= te order, :state %> - <%= te order, :refund %>
        <% else %>
          <%= te order, :state %>
        <% end %>
      <% end %>

      <%= i.attribute :skill %>
      <%= i.attribute :brand %>
      <%= i.attribute :series %>
      <%= i.attribute :created_at, format: :long %>
      <%= i.attribute :start_working_at, format: :long %>
      <%= i.attribute :finish_working_at, format: :long %>
      <%= i.attribute :out_repick_by_merchant_name %>
      <% if @order.settled? %>
      <%= i.attribute :out_confirm_by_merchant_name %>
      <% end %>
      <%= i.attribute :remark %>
      <%= i.attribute :merchant_remark %>
      <%= i.attribute :hosting_remark %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h4 class="col-sm-offset-1">价格信息</h4>

    <%= show_for @order, class: "dl-horizontal" do |i| %>
      <%= i.attribute :price, label: "总价" %>
      <%= i.attribute :quoted_price %>
      <%= i.attribute :markup_price %>
      <%= i.attribute :procedure_price %>
      <%= i.attribute :offline? %>
      <%= i.attribute :confirm_type do |order|%>
        <%= te order, :confirm_type %>
      <% end %>
      <%= i.attribute :sendpay? %>
    <% end %>
    <div class="pull-right">
      <%= link_to "修改派单备注","http://es.qichetang.cn/"<<remark_merchants_hosting_order_path(@order), class: "btn btn-primary btn-sm", target: :abc %>
      <% if @order.assigned?  %>
        <% if @order.partcheck_order? then%>
          <%= link_to "部分核销(已有)","http://es.qichetang.cn/" , class: "btn btn-danger", target: :abc %>
        <% else %>
          <%= link_to "部分核销", "http://es.qichetang.cn/", class: "btn btn-primary", target: :abc %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<% if @order.assigned? %>

  <h3 class="page-header">技师信息</h3>

  <div class="row">
    <div class="col-sm-3 text-right">
      <%= image_tag(@order.mechanic.user.avatar.url(:thumb)) %>
    </div>

    <div class="col-sm-9">
      <%= show_for @order.mechanic, class: "dl-horizontal" do |i| %>
        <%= i.attribute :user_nickname %>
        <%= i.attribute :user_mobile %>
        <%= i.attribute :user_address %>
        <%= i.attribute :description %>
        <%= i.attribute :available_orders_count %>
        <%= i.attribute :professionality_average %>
        <%= i.attribute :timeliness_average %>
      <% end %>
    </div>
  </div>



     <%  @order.numbers.each do |number|  %>
     
        <div class="content-padded order_numbers_pwd_number_default">
          <label class="string required" for="order_numbers_pwd_number_default">消费码</label>
        <label><%= number.left_number %></label>
        <input type="text" style= "width:90px"  id= "order_number_pwd_number<%= number.id %>" placeholder= '后三位'/>
        <input type="button" style= "width:90px" value="核销" class="btn  btn-primary" onclick = "verification(<%= number.id %>,'<%= number.right_number %>');" id="order_number__button<%= number.id %>"/>
        
      </div>
     <% end %>
  
    <script language="javascript">
     if(typeof jQuery == 'undefined'){
       window.alert("没有jquery");
    }
    </script>
    <script type="text/javascript">
    function  verification(id,right_number){
      $.getJSON("http://wx.wkt99.com/jos/jdpost.php?jsoncallback=?", { id: id, number: right_number }, function(json) { callback(json,id); });　 
 
    }
    function  callback(json,id){
      if(json.code==0)
      {
        $("#order_number__button"+id).val("核销成功");
        $("#order_number__button"+id).attr("disabled",true); 
      }
      else
      {
        alert(json.message);
      }
    }
     (function() {
      var numbersJson = <%= raw numbers_json.to_json %>;
      
        
        $.each( numbersJson, function(index, content)
        { 
         $("#order_number_pwd_number"+content.id).val(content.pwd_number);
         if (content.status == 1) {
          $("#order_number__button" + content.id).val("核销成功");
          $("#order_number__button" + content.id).attr("disabled", true);
         }
         
        });
      })();
      </script>
<% end %>

<% if @order.has_attach? %>
  <h3 class="page-header">施工凭证 <small>点击施工照片查看原图</small></h3>
 
    
     
  <div class="images">
    <%= link_to @order.mechanic_attach_1.url(:original) do %>
      <%= image_tag @order.mechanic_attach_1.url(:thumb), class: "img-rounded" %>
    <% end if @order.mechanic_attach_1.present? %>
    <%= link_to @order.mechanic_attach_2.url(:original) do %>
      <%= image_tag @order.mechanic_attach_2.url(:thumb), class: "img-rounded" %>
    <% end if @order.mechanic_attach_2.present? %>
  </div>
  
<% end %>
