<%= content_for :title do %>
  春节放假时间
<% end %>

<%= simple_form_for(@user, url: update_holiday_user_path, method: :patch) do |f| %>
  <%= f.error_messages %>

  <div class="jumbotron vertical-parent">
    <div class="text-center vertical-middle">
      <div class="input image">
        <%= f.input_field :avatar, accept: "image/*" %>
        <%= image_tag current_user.avatar.url(:thumb), class: "img-circle", id: "user_avatar_preview" %>
      </div>
      <div> <%= @user.nickname %></div>
    </div>
  </div>
     <% if @user.mechanic? %>
      <%= f.fields_for :mechanic do |ff| %>
        <%= ff.input :holiday_start do %>
          <input type="text" id="user_mechanic_attributes_holiday_start" name="user[mechanic_attributes][holiday_start]" value="<%=  @user.mechanic.holiday_start.strftime('%Y-%m-%d') %>">
        <% end %>
        <%= ff.input :holiday_end do %>
          <input type="text" id="user_mechanic_attributes_holiday_end" name="user[mechanic_attributes][holiday_end]" value="<%=  @user.mechanic.holiday_end.strftime('%Y-%m-%d') %>">
        <% end %>
        
      <% end %>
    <% end %>

    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>

     <script type="text/javascript">
         (function() {
          
    $( "#user_mechanic_attributes_holiday_start" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @user.mechanic.holiday_start.strftime('%Y-%m-%d') %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

  
    $( "#user_mechanic_attributes_holiday_end" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @user.mechanic.holiday_end.strftime('%Y-%m-%d') %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

  })();
		  
	
      </script>

<% end %>	
