<%
  city_map = types_option_pairs City, :province_id
  district_map = types_option_pairs District, :city_id
  works_json=@mechanic.mechanic.works
%>

<%= bootstrap_simple_form_for(@mechanic, url: url, method: method) do |f| %>
  <div class="row">
    <div class="col-md-7">
      <%= f.error_messages %>

      <%= f.input :mobile %>
      <% if @mechanic.id&&@mechanic.id>0&&current_admin.admin? %>
        <%= link_to "清除微信关联", clear_weixin_admin_user_path(@mechanic), class: "btn btn-default btn-xs", data: {confirm: "您确定要清除微信关联？原关联微信将需要重新登陆，提现微信将清除。" } %>
        <%= link_to "清除提现微信", clear_withdrawal_weixin_admin_user_path(@mechanic), class: "btn btn-default btn-xs", data: {confirm: "您确定要清除提现微信？不会要求重新登陆，第一个进入公众号‘我的’的人，将绑定为提现微信" } %>
      <% end %>
      <%= f.input :weixin_openid , input_html: { disabled: "disabled" } %>
      <%= f.input :nickname %>
      <%= f.input :gender, collection: enum_option_pairs(User, :gender) %>
      <%= f.input :address %>

      <%= f.bootstrap_simple_fields_for :mechanic do |ff| %>
        <%= ff.input :unique_id %>
        <%= ff.input :linkman %>
		
	
		
		
	<div class="form-group check_boxes optional user_mechanic_skill_cds">
	<label class="check_boxes optional control-label">擅长技能</label>
	<%  Skill.all.each do |skill|  %>
			<span class="checkbox">
			<%= ff.simple_fields_for :skills, index: nil  do |p| %>
			<label for=<%= "user_mechanic_attributes_skills__is_checked#{skill[:id]}" %>>
		    <%= p.check_box :is_checked,id: "user_mechanic_attributes_skills__is_checked#{skill[:id]}",name: "user[mechanic_attributes][skills][][is_checked]"  %>
	        <%= skill[:name] %>
			</label>
			<%= p.hidden_field :skill_id, value: skill[:id],id: "user_mechanic_attributes_skills__skill_id#{skill[:id]}",name: "user[mechanic_attributes][skills][][skill_id]"  %> 
			<%= p.text_field :price,id: "user_mechanic_attributes_skills__price#{skill[:id]}",name: "user[mechanic_attributes][skills][][price]"  %>
			<% end %>
			</span>
    <% end %>
	</div>
		 
		    <%= ff.input :service_ids, as: :check_boxes, collection: Service.all %>
        <%= ff.input :holiday_start do %>
          <input type="text" id="user_mechanic_attributes_holiday_start" name="user[mechanic_attributes][holiday_start]" value="<%=  @mechanic.mechanic.holiday_start.strftime('%Y-%m-%d') if  @mechanic.mechanic.holiday_start %>">
        <% end %>
        <%= ff.input :holiday_end do %>
          <input type="text" id="user_mechanic_attributes_holiday_end" name="user[mechanic_attributes][holiday_end]" value="<%=  @mechanic.mechanic.holiday_end.strftime('%Y-%m-%d') if @mechanic.mechanic.holiday_end %>">
        <% end %>
        <%= ff.input :province_cd, collection: Province.all, input_html: { class: "select2" } %>
        <%= ff.input :city_cd, collection: city_map[ff.object.province_cd] || [], input_html: { class: "select2" } %>
        <%= ff.input :district_cd, collection: district_map[ff.object.city_cd] || [], input_html: { class: "select2" } %>
        <%= ff.input :service_staff %>
        <%= ff.input :description, as: :text, input_html: { rows: 4 } %>
        <%= ff.input :grade, collection: enum_option_pairs(Mechanic, :grade) %>
        
      <% end %>
      <%= f.input :withdrawal_remark %>
      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  (function() {
    var cityMap = <%= raw city_map.to_json %>;
    var districtMap = <%= raw district_map.to_json %>;

    var $province = $("#user_mechanic_attributes_province_cd");
    var $city = $("#user_mechanic_attributes_city_cd");
    var $district = $("#user_mechanic_attributes_district_cd");

    $province.change(function() {
      $city.removeOptions();
      $city.appendOptions(cityMap[$province.val()]);
    });

    $city.change(function() {
      $district.removeOptions();
      $district.appendOptions(districtMap[$city.val()]);
    });
	
	checkWorks();

    $( "#user_mechanic_attributes_holiday_start" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @mechanic.mechanic.holiday_start.strftime('%Y-%m-%d') if @mechanic.mechanic.holiday_start %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

  
    $( "#user_mechanic_attributes_holiday_end" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @mechanic.mechanic.holiday_end.strftime('%Y-%m-%d') if @mechanic.mechanic.holiday_end %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

  })();
  
  function checkWorks(){
  	var worksJson = <%= raw works_json.to_json %>;

	
  	$.each( worksJson, function(index, content)
    { 
     $("#user_mechanic_attributes_skills__price"+content.skill_id).val(content.price);
     $("#user_mechanic_attributes_skills__is_checked"+content.skill_id).attr("checked", true);
     
    });
	

  	 }
</script>
