<%
  city_map = types_option_pairs City, :province_id
  district_map = types_option_pairs District, :city_id
  works_json=@mechanic.mechanic.works
%>

<%= bootstrap_simple_form_for(@mechanic, url: url, method: method) do |f| %>
  <div class="row">
    <div class="col-md-7">
      <%= f.error_messages %>

      <%= f.input :mobile %>
      <%= f.input :weixin_openid %>
      <%= f.input :nickname %>
      <%= f.input :gender, collection: enum_option_pairs(User, :gender) %>
      <%= f.input :address %>

      <%= f.bootstrap_simple_fields_for :mechanic do |ff| %>
        <%= ff.input :unique_id %>
        <%= ff.input :skill_cds,as: :check_boxes, collection: Skill.all %>
		
	
		
		
	<div class="form-group check_boxes optional user_mechanic_skill_cds">
	<label class="check_boxes optional control-label">擅长技能</label>
	<%  Skill.all.each do |skill|  %>
			<span class="checkbox">
			
			<label for=<%= "user_mechanic_attributes_skills__is_checked#{skill[:id]}" %>>
		    <%= ff.hidden_field :skill_id, value: skill[:id],id: "user_mechanic_attributes_skills__skill_id#{skill[:id]}",name: "user[mechanic_attributes][skills][][skill_id]"  %> 
			<%= ff.check_box :is_checked,id: "user_mechanic_attributes_skills__is_checked#{skill[:id]}",name: "user[mechanic_attributes][skills][][is_checked]"  %>
	        <%= skill[:name] %>
			</label>
	        <%= ff.text_field :price,id: "user_mechanic_attributes_skills__price#{skill[:id]}",name: "user[mechanic_attributes][skills][][price]"  %>
			
			</span>
    <% end %>
	</div>
    
	 
	  
		 

        <%= ff.input :province_cd, collection: Province.all, input_html: { class: "select2" } %>
        <%= ff.input :city_cd, collection: city_map[ff.object.province_cd] || [], input_html: { class: "select2" } %>
        <%= ff.input :district_cd, collection: district_map[ff.object.city_cd] || [], input_html: { class: "select2" } %>

        <%= ff.input :description, as: :text, input_html: { rows: 4 } %>
      <% end %>

      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  (function() {
    var cityMap = <%= raw city_map.to_json %>;
    var districtMap = <%= raw district_map.to_json %>;

    var $province = $("#user_mechanic_attributes_province_cd");
    var $city = $("#user_mechanic_attributes_city_cd");
    var $district = $("#user_mechanic_attributes_district_cd");

    $province.change(function() {
      $city.removeOptions();
      $city.appendOptions(cityMap[$province.val()]);
    });

    $city.change(function() {
      $district.removeOptions();
      $district.appendOptions(districtMap[$city.val()]);
    });
	
	checkWorks();
  })();
  
  function checkWorks(){
  	var worksJson = <%= raw works_json.to_json %>;

	
	$.each( worksJson, function(index, content)
  { 
   $("#user_mechanic_attributes_skills__price"+content.skill_id).val(content.price);
   $("#user_mechanic_attributes_skills__is_checked"+content.skill_id).attr("checked", true);
   
  });
	

  	 }
</script>
