<h3 class="page-header">技师详情 #<%= @mechanic.mechanic.id %></h3>

<div class="row">
  <div class="col-sm-3 text-right">
    <%= image_tag(@mechanic.avatar.url(:thumb)) %>
  </div>

  <div class="col-sm-9">
    <%= show_for @mechanic, class: "dl-horizontal" do |i| %>
      <%= i.attribute :nickname %>
      <%= i.attribute :mobile %>
      <%= i.attribute :weixin_openid %>
      <%= i.attribute :gender do |user| %>
        <%= te user, :gender %>
      <% end %>
      <%= i.attribute :address %>
      <%= i.attribute :balance %>

      <%= i.fields_for :mechanic do |ii| %>
        <%= ii.attribute :unique_id %>
        <%= ii.attribute :linkman %>
        <%= ii.attribute :skills do |mechanic| %>
		<%= mechanic.works.map {|w| w.skill_name_price }.join("、") %>
        <% end %>
		<%= ii.attribute :services do |mechanic| %>
        <%= mechanic.services.join("、") %>
		<% end %>
        <%= ii.attribute :province %>
        <%= ii.attribute :city %>
        <%= ii.attribute :district %>
        <%= ii.attribute :available_orders_count %>
        <%= ii.attribute :done_orders_count_rate %>
        <%= ii.attribute :revoke_orders_count %>
        <%= ii.attribute :raw_last_done_orders_count %>
        <%= ii.attribute :raw_last_available_orders_count %>
        <%= ii.attribute :total_income %>
        <%= ii.attribute :professionality_average %>
        <%= ii.attribute :timeliness_average %>
        <%= i.attribute :self_withdrawal? %>
        <%= ii.attribute :service_staff %>
        <%= ii.attribute :grade do |mechanic| %>
          <%= te mechanic, :grade %>
        <% end %>
        <%= ii.attribute :description %>
        <% if  @mechanic.mechanic.has_attach? %>
          <h3 class="page-header">店面照片<small>点击照片查看原图</small></h3>
             
          <div class="images">
            <%= link_to @mechanic.mechanic.mechanic_attach_1.url(:original) do %>
              <%= image_tag @mechanic.mechanic.mechanic_attach_1.url(:thumb), class: "img-rounded" %>门店门头
            <% end if @mechanic.mechanic.mechanic_attach_1.present? %>
            <%= link_to @mechanic.mechanic.mechanic_attach_2.url(:original) do %>
              <%= image_tag @mechanic.mechanic.mechanic_attach_2.url(:thumb), class: "img-rounded" %>客户休息区
            <% end if @mechanic.mechanic.mechanic_attach_2.present? %>
            <%= link_to @mechanic.mechanic.mechanic_attach_3.url(:original) do %>
              <%= image_tag @mechanic.mechanic.mechanic_attach_3.url(:thumb), class: "img-rounded" %>施工车间全景
            <% end if @mechanic.mechanic.mechanic_attach_3.present? %>
            <%= link_to @mechanic.mechanic.mechanic_attach_4.url(:original) do %>
              <%= image_tag @mechanic.mechanic.mechanic_attach_4.url(:thumb), class: "img-rounded" %>技师施工图
            <% end if @mechanic.mechanic.mechanic_attach_4.present? %>
            <%= link_to @mechanic.mechanic.mechanic_attach_5.url(:original) do %>
              <%= image_tag @mechanic.mechanic.mechanic_attach_5.url(:thumb), class: "img-rounded" %>前台照片
            <% end if @mechanic.mechanic.mechanic_attach_5.present? %>
          </div>
          
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pull-right">
  <%= link_to "相关订单", admin_mechanic_orders_path(@mechanic), class: "btn btn-primary" %>
  <% if current_admin.admin? %>
    <%= link_to "修改账户余额", balance_admin_user_path(@mechanic), class: "btn btn-primary" %>
    <%= link_to "余额变动记录", admin_mechanic_metrics_path(@mechanic), class: "btn btn-primary" %>
  <% end %>
</div>
