<%
  products_json=@merchant.merchant.products
%>
<h3 class="page-header">商家详情 #<%= @merchant.id %></h3>

<div class="row">
  <div class="col-md-2 col-xs-4">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "商家详情", admin_merchant_path(@merchant) %></li>
      <li><%= link_to "佣金设置", settings_admin_merchant_path(@merchant) %></li>
      <li class="active"><%= link_to "产品设置", product_admin_merchant_path(@merchant) %></li>
    </ul>
  </div>

  <div class="col-md-7 col-xs-8">
    <%= bootstrap_simple_form_for(@merchant, url: product_admin_merchant_path(@merchant)) do |f| %>
     <%= f.bootstrap_simple_fields_for :merchant do |ff| %>
     <%= ff.text_field :jd_vender_id,id: "user_merchant_attributes_jd_vender_id",name: "user[merchant_attributes][jd_vender_id]" %>
      <div class="form-group check_boxes optional user_mechanic_skill_cds">
      <label class="check_boxes optional control-label">合作技能</label>
      <%  Skill.all.each do |skill|  %>
          <span class="checkbox">
          <%= ff.simple_fields_for :skills, index: nil  do |p| %>
          <label for=<%= "user_merchant_attributes_skills__is_checked#{skill[:id]}" %>>
            <%= p.check_box :is_checked,id: "user_merchant_attributes_skills__is_checked#{skill[:id]}",name: "user[merchant_attributes][skills][][is_checked]"  %>
              <%= skill[:name] %>
          </label>
          <%= p.hidden_field :skill_id, value: skill[:id],id: "user_merchant_attributes_skills__skill_id#{skill[:id]}",name: "user[merchant_attributes][skills][][skill_id]"  %> 
          <%= p.text_field :price,id: "user_merchant_attributes_skills__price#{skill[:id]}",name: "user[merchant_attributes][skills][][price]"  %>
          <% end %>
          </span>
        <% end %>
      </div>
      <% end %>
      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    <% end %>
   
  </div>

</div>

<script type="text/javascript">
  (function() {

  
  checkProducts();



  })();
  
  function checkProducts(){
    var productsJson = <%= raw products_json.to_json %>;

  
    $.each( productsJson, function(index, content)
    { 
     $("#user_merchant_attributes_skills__price"+content.skill_id).val(content.price);
     $("#user_merchant_attributes_skills__is_checked"+content.skill_id).attr("checked", true);
     
    });
  

     }
</script>
