<%= content_for :title do %>
  订单列表
<% end %>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<%
  def order_state_link_to state, text
    class_name = "control-item"
    class_name << " active" if @state == state
    link_to orders_path(state: state), class: class_name do
      count = order_klass.send(state).count
      content = text
      content << %{ <span class="badge">#{count}</span>} if count != 0
      content.html_safe
    end
  end
%>

<div class="content-padded">
  <div class="segmented-control">
    <%= order_state_link_to :paids_and_workings, "待服务" %>
    <%= order_state_link_to :confirmings, "审核中" %>
    <%= order_state_link_to :settleds, "已完成" %>
  </div>
</div>
<div class="fcontent-padded margin-top-large">
  <div class="input string required ">
  <label for="search" class="string required">搜索：
    <input class="string required" placeholder="联系方式、消费码前9位、服务项目等" aria-controls="orders" id="search" type="search">
  </label>
  </div>
</div>


<% @orders = @orders.includes(mechanic: :user).order(id: :desc) %>
<ul class="table-view" id="hide_orders">
</ul>

<ul class="table-view" style="display:none" id="orders">
  <% @orders.each do |order| %>
    <li class="table-view-cell media">
      <%= link_to order_path(order), class: "navigate-right" do %>
        <%= image_tag order.mechanic.user.avatar.url(:thumb), class: "media-object pull-left" %>
        <div class="media-body">
          <%= order.title %>
          <p>预约时间：<%= l order.appointment, format: :short %></p>

          <% if current_user.mechanic? %>
            <p>成交价格：<%= order.mechanic_income %> 元 <%= "【线下交易】" if order.offline? %></p>
            <% unless order.mobile? %>
            <p>联系方式：<%= order.contact_nickname %> <%= order.contact_mobile %></p>
            <p>消费码：<%= order.out_numbers %> </p>
            <% end %>
          <% else %>
            <p>成交价格：<%= order.price %> 元</p>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<script type="text/javascript">  
    var $orders_obj = "";
    $(function(){  
      $orders_obj=$("#orders");
      $("#hide_orders").html($orders_obj.clone(true));
      $("#orders").show();  
      $("#search").keyup(function () {  
        var searchText = $(this).val();//获取输入的搜索内容  
        var $searchLi = "";//预备对象，用于存储匹配出的li  
        
        if (searchText != "") {  
          //获取所有匹配的li  
          $searchLi = $orders_obj.find('li:contains('+ searchText +')');  
          //将内容清空  
          $("#orders").html("");  
        } else{
          $searchLi = $orders_obj.find('li');  
          $("#orders").html("");  
        } 
          
        //将获取的元素追加到列表中  
        $("#orders").html($searchLi.clone(true));  
        $("#orders").show();  
        //判断搜索内容是否有效，若无效，输出not find  
        if ($searchLi.length <= 0) {  
          $("#orders").html("<li>没有找到结果！</li>")  
        }  
      })  

    })  
</script> 
