<h3 class="page-header">托管订单</h3>

<%
  def order_state_link_to state, text
    link = link_to text, merchants_hosting_orders_path(state: state)
    class_name = (@state == state) ? "active" : ""
    %{<li class="#{class_name}">#{link}</li>}.html_safe
  end
  def number_state_link_to state, text
    link = link_to text, merchants_hosting_numbers_path(state: state)
    class_name = (@state == state) ? "active" : ""
    %{<li class="#{class_name}">#{link}</li>}.html_safe
  end
%>

<div class="row">
  <div class="col-md-2 col-xs-4">
    <ul class="nav nav-pills nav-stacked">
      <%= order_state_link_to :unassigneds, "未分配" %>
      <%= order_state_link_to :assigneds, "待服务" %>
      <%= order_state_link_to :workings, "服务中" %>
      <%= order_state_link_to :confirmings, "待确认完工" %>
      <%= order_state_link_to :finisheds, "待评价" %>
      <li class="divider"></li>
      <%= order_state_link_to :unfinisheds, "所有订单" %>
      <%= order_state_link_to :emergencys, "紧急订单" %>
      <%= order_state_link_to :finished_nochecks, "完工未核销" %>
      <%= order_state_link_to :unfinished_checks, "未完工已核销" %>
      <% if current_merchant.admin? %>
      <li class="divider"></li>
      <%= number_state_link_to :unchecked_numbers, "未核销消费码" %>
      <%= number_state_link_to :checked_numbers, "已核销消费码" %>
      <% end %>
    </ul>
  </div>

  <%
   @order_field = (params[:order]||"")
    if(@order_field!="")
      @orders = @orders.includes(:store, :mechanic_user)
    else
      @orders = @orders.includes(:store, :mechanic_user).order(:appointment) 
    end
   %>

  <div class="col-md-10 col-xs-8">
  <% if  @state == :unfinisheds %>
    <%= wice_index_for [ :merchants, :hosting, @orders ], class: "table table-hover" do |i| %>
      <%= i.attribute :store_nickname, searchable: true  %>
      <%= i.attribute :contact_nickname,searchable: "orders.contact_nickname" %>
      <%= i.attribute :contact_mobile,searchable: "orders.contact_mobile" %>
      <%= i.attribute :appointment, format: :short %>
      <%= i.attribute :skill ,filterable: { "orders.skill_cd" => Order.skills[params[:search]] } %>
      <%= i.attribute :price %>
      <%= i.attribute :offline?,sortable: "orders.offline" %>
      <%= i.attribute :automatic?,sortable: "orders.automatic" %>
      <%= i.attribute :mechanic_nickname, searchable: true  %>
      <%= i.actions :show %>
    <% end %>
  <% else %>
   <%= index_for [ :merchants, :hosting, @orders ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :store_nickname %>
      <%= i.attribute :contact_nickname %>
      <%= i.attribute :contact_mobile %>
      <%= i.attribute :appointment, format: :short %>
      <%= i.attribute :skill  %>
      <%= i.attribute :price %>
      <%= i.attribute :offline? %>
      <%= i.attribute :mechanic_nickname %>
      <%= i.actions :show %>
    <% end %>
    <script type="text/javascript">

      $(document).ready(function() {
          $('#orders').DataTable( {
              "pagingType": "full_numbers",
                'fnDrawCallback': function(table) {    
                    $("#orders_paginate").append("   <input type='text' id='changePage' class='form-control input pagination' style='margin-top:0px;width:50px;height:27px'> ");    
                    var oTable = $("#orders").dataTable();    
                    $('#changePage').keypress(function(e) {  
                        if (e.which === 13 || e.keyCode === 13) {  
                          if($("#changePage").val() && $("#changePage").val() > 0) {    
                              var redirectpage = $("#changePage").val() - 1;    
                          } else {    
                              var redirectpage = 0;    
                          }    
                          oTable.fnPageChange(redirectpage);  
                        }  
                    });    
                }
          } );
      } );

    </script>
  <% end %>
  </div>
</div>
