 <%
	numbers_json=@order.numbers.as_json(only: %w(id status  pwd_number ))
 %>
<%  if  @order.hosting_remark.present? %>
 <style> .attr_hosting_remark{ color:#FF0000} </style> 
<%  end %>
<h3 class="page-header">
  订单详情 #<%= @order.id %>
  <small>
    <% if @order.canceled? %>
      <%= te @order, :state %> - <%= te @order, :cancel %>
    <% elsif @order.refunded? %>
      <%= te @order, :state %> - <%= te @order, :refund %>
    <% else %>
      <%= te @order, :state %>
    <% end %>
  </small>
</h3>

<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <%= show_for @order, class: "dl-horizontal" do |i| %>
      <%= i.attribute :store_nickname %>
      <%= i.attribute :store_hotline %>
      <%= i.attribute :contact_nickname %>
      <%= i.attribute :contact_mobile %>
      <%= i.attribute :state do |order| %>
        <% if order.canceled? %>
          <%= te order, :state %> - <%= te order, :cancel %>
        <% elsif order.refunded? %>
          <%= te order, :state %> - <%= te order, :refund %>
        <% else %>
          <%= te order, :state %>
        <% end %>
      <% end %>

      <%= i.attribute :address %>
      <% if @order.settled? %>
      <%= i.attribute :finish_working_at, format: :long %>
      <% end %>
      <%= i.attribute :appointment, format: :long %>
      <%= i.attribute :skill %>
      <%= i.attribute :brand %>
      <%= i.attribute :series %>
      <%= i.attribute :out_repick_by_merchant_name %>
      <%= i.attribute :confirm_type do |order|%>
        <%= te order, :confirm_type %>
      <% end %>
      <% if @order.settled? %>
      <%= i.attribute :out_confirm_by_merchant_name %>
      <% end %>
      <%= i.attribute :sendpay? %>
      <%= i.attribute :price %>
      <%= i.attribute :offline? %>
      <%= i.attribute :jd_order_type do |order| %>
        <%= te order, :jd_order_type %>
      <% end %>
      <%= i.attribute :procedure_price %>
      <%= i.attribute :remark %>
      <%= i.attribute :merchant_remark %>
      <%= i.attribute :hosting_remark,class: "danger" %>
    <% end %>
  </div>
</div>

<div class="pull-right">
  <%= link_to "修改派单备注", remark_merchants_hosting_order_path(@order), class: "btn btn-primary btn-sm" %>
  <% if @order.assigned? && current_merchant.admin? %>
    <% if @order.partcheck_order? then%>
      <%= link_to "部分核销(已有)", merchants_hosting_order_partchecks_path(@order), class: "btn btn-danger" %>
    <% else %>
      <%= link_to "部分核销", merchants_hosting_order_partchecks_path(@order), class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<% if @order.selected?&&!@order.assigned? %>
  <h3 class="page-header">预选技师信息</h3>

  <div class="row">
    <div class="col-sm-3 text-right">
      <%= image_tag(@order.selectmechanic.user.avatar.url(:thumb)) %>
    </div>

    <div class="col-sm-9">
      <%= show_for @order.selectmechanic, class: "dl-horizontal" do |i| %>
        <%= i.attribute :user_nickname %>
        <%= i.attribute :user_mobile %>
        <%= i.attribute :user_address %>
		    <%= i.attribute :skills do |selectmechanic, skills| %>
          <%= raw selectmechanic.works.map {|w| if w.skill_id==@order.skill_cd
              "<span class='text-danger'>"+w.skill_name_price+"</span>" 
            else
             w.skill_name_price 
            end  }.join("、") %>
        <% end %>
        <%= i.attribute :description %>
        <%= i.attribute :available_orders_count %>
        <%= i.attribute :raw_last_done_orders_count %>
        <%= i.attribute :raw_last_available_orders_count %>
        <%= i.attribute :professionality_average %>
        <%= i.attribute :timeliness_average %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
  <div class="col-sm-9">
    <dl class="dl-horizontal">
      <dt>接单记录</dt>
      <dd>
        <% @order.selectmechanic.skills.each do |skill| %>
          <% skill_cd = Mechanic.skills[skill] %>
          <% if skill_cd == @order.skill_cd %>
            <%= link_to skill_merchants_mechanic_path(@order.selectmechanic.id, skill: skill_cd),class: "text-danger" do %>
              <%= skill %>[<%= @order.selectmechanic.skilled_orders(skill_cd).count %>单]
            <% end %>
          <% else %>
            <%= link_to skill_merchants_mechanic_path(@order.selectmechanic.id, skill: skill_cd) do %>
            <%= skill %>[<%= @order.selectmechanic.skilled_orders(skill_cd).count %>单]
            <% end %>
          <% end %>
          &nbsp;
        <% end %>
      </dd>
      <% related_orders = Order.unassigneds.where(selectmechanic_id: @order.selectmechanic_id).where.not(id: @order.id) %>
      <% if related_orders.count>0 %>
      <dt>相关未分配订单</dt>
        <dd >
          <% related_orders.each do |order| %>
           <%= link_to order.skill, merchants_hosting_order_path(order), target: "_blank",class: "text-danger" %>
            &nbsp;
          <% end %>
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<%= bootstrap_simple_form_for([ :merchants, :hosting, @order ], url: pick_merchants_hosting_order_path(@order)) do |f| %>
  <div class="row">
   

    <div class="col-md-7">
      <%= f.hidden_field :mechanic_id, :value =>@order.selectmechanic.id %>
	  <%= f.error_messages %>
      <%= f.input :pre_procedure_price %>
      <%= f.input :pre_remark, hint: "备注对所有人可见", input_html: { rows: 3 } %>
    </div>

    <div class="col-md-12">
      <%= f.button :submit, "确定", class: "btn-primary pull-left" %>
    </div>
  </div>
<% end %>

<% end %>

<% if @order.assigned? %>
  <h3 class="page-header">技师信息</h3>

  <div class="row">
    <div class="col-sm-3 text-right">
      <%= image_tag(@order.mechanic.user.avatar.url(:thumb)) %>
    </div>

    <div class="col-sm-9">
      <%= show_for @order.mechanic, class: "dl-horizontal" do |i| %>
        <%= i.attribute :user_nickname %>
        <%= i.attribute :user_mobile %>
        <%= i.attribute :user_address %>
        <%= i.attribute :description %>
        <%= i.attribute :available_orders_count %>
        <%= i.attribute :raw_last_done_orders_count %>
        <%= i.attribute :raw_last_available_orders_count %>
        <%= i.attribute :professionality_average %>
        <%= i.attribute :timeliness_average %>
        <%= i.attribute :self_withdrawal? %>
        <% if current_merchant.admin? %>
          <div class="pull-right">
            <%= link_to "18135687782", service_staff_merchants_hosting_order_path(@order,service_staff: "18135687782"), class: "btn btn-primary btn-sm" %>
            <%= link_to "18037504462", service_staff_merchants_hosting_order_path(@order,service_staff: "18037504462"), class: "btn btn-primary btn-sm" %>
            <%= link_to "17319724003", service_staff_merchants_hosting_order_path(@order,service_staff: "17319724003"), class: "btn btn-primary btn-sm" %>
            <%= link_to "17734794849", service_staff_merchants_hosting_order_path(@order,service_staff: "17734794849"), class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
        <%= i.attribute :service_staff %> 
      <% end %>
    </div>
   
  </div>
    <% if current_merchant.admin? %>
  	 <%  @order.numbers.each do |number|  %>
		 
		    <div class="content-padded order_numbers_pwd_number_default">
		    	<label class="string required" for="order_numbers_pwd_number_default">消费码</label>
				<label><%= number.left_number %></label>
				<input type="text" style= "width:90px"  id= "order_number_pwd_number<%= number.id %>" placeholder= '后三位'/>
				<input type="button" style= "width:90px" value="核销" class="btn  btn-danger" onclick = "verification(<%= number.id %>,'<%= number.right_number %>');" id="order_number__button<%= number.id %>"/>
				
			</div>
     <% end %>
	  <% end %>
	  <script language="javascript">
		 if(typeof jQuery == 'undefined'){
   		 window.alert("没有jquery");
 		}
 		</script>
    <script type="text/javascript">
  	function  verification(id,right_number){
 			$.getJSON("http://wx.wkt99.com/jos/jdpost.php?jsoncallback=?", { id: id, number: right_number }, function(json) { callback(json,id); });　 
 
		}
		function  callback(json,id){
			if(json.code==0)
			{
				$("#order_number__button"+id).val("核销成功");
				$("#order_number__button"+id).attr("disabled",true); 
			}
			else
			{
				alert(json.message);
			}
		}
		 (function() {
			var numbersJson = <%= raw numbers_json.to_json %>;
			
				
			  $.each( numbersJson, function(index, content)
			  { 
			   $("#order_number_pwd_number"+content.id).val(content.pwd_number);
			   if (content.status == 1) {
			   	$("#order_number__button" + content.id).val("核销成功");
			   	$("#order_number__button" + content.id).attr("disabled", true);
          $("#order_number__button" + content.id).attr("class","btn btn-primary"); 
			   }
			   
			  });
  		})();
      </script>
<% end %>

<% if @order.has_attach? %>
  <h3 class="page-header">施工凭证 <small>点击施工照片查看原图</small></h3>
 
	  
		 
  <div class="images">
    <%= link_to @order.mechanic_attach_1.url(:original) do %>
      <%= image_tag @order.mechanic_attach_1.url(:thumb), class: "img-rounded" %>
    <% end if @order.mechanic_attach_1.present? %>
    <%= link_to @order.mechanic_attach_2.url(:original) do %>
      <%= image_tag @order.mechanic_attach_2.url(:thumb), class: "img-rounded" %>
    <% end if @order.mechanic_attach_2.present? %>
  </div>
  
<% end %>

<% case @order.state %>
<% when :paid %>
  <div class="pull-right">
    <% if @order.assigned? %>
      <%= link_to "改派技师", pick_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "指派技师", pick_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "设置手续费", procedure_price_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
     <% if @order.assigned? && current_merchant.admin? then %>
      <% if @order.offline? then%>
        <%= link_to " 确认完工 ", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn btn-success", data: {disable_with: "提交中..."} %>
      <% else %>
        <%= link_to " 确认完工 ", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn btn-success",data: {confirm: "线下交易为否订单，确认完工将增加技师余额，请考虑是否使用完工并提现？" } %>
      <% end %>
     <% end %>
     <% if  @order.sendpay? %>
       <%= link_to "申请退款", refund_merchants_hosting_order_path(@order), class: "btn btn-danger", data: {confirm: "套装内loc订单，京东不允许退款，您确定要申请退款？" } %>
     <% else %>
       <%= link_to "申请退款", refund_merchants_hosting_order_path(@order), class: "btn btn-danger", data: {confirm: "您确定要申请退款？" } %>
     <% end %>
    <% if @order.emergency? %>
      <%= link_to "取消紧急", unemergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>      
    <% else %>
      <%= link_to "紧急订单", emergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <% if @order.assigned? && current_merchant.admin? %>
     <%= link_to "完工并提现", confirmwithdrawal_merchants_hosting_order_path(@order), method: :post, class: "btn btn-primary" , data: {disable_with: "提交中..."}%>
     <% end %>
  </div>
<% when :working %>
  <div class="pull-right">
    <%= link_to "改派技师", pick_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <%= link_to "设置手续费", procedure_price_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% if current_merchant.admin? %>
      <% if @order.offline? %>
        <%= link_to " 确认完工 ", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn btn-success", data: {disable_with: "提交中..."} %>
      <% else %>
        <%= link_to " 确认完工 ", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn btn-success",data: {confirm: "线下交易为否订单，确认完工将增加技师余额，请考虑是否使用完工并提现？" } %>
      <% end %>
    <% end %>
    <% if  @order.sendpay? %>
      <%= link_to "申请撤单", revoke_merchants_hosting_order_path(@order), class: "btn btn-danger", data: {confirm: "套装内loc订单，京东不允许退款，您确定要申请撤单？" }%>
    <% else %>
      <%= link_to "申请撤单", revoke_merchants_hosting_order_path(@order), class: "btn btn-danger", data: {confirm: "您确定要申请撤单？" }%>
    <% end %>
    <% if @order.emergency? %>
      <%= link_to "取消紧急", unemergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>      
    <% else %>
      <%= link_to "紧急订单", emergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <% if current_merchant.admin? %>
      <%= link_to "完工并提现", confirmwithdrawal_merchants_hosting_order_path(@order), method: :post, data: {disable_with: "提交中..."} , class: "btn btn-primary" %>
    <% end %>
  </div>
<% when :confirming %>
  <div class="pull-right">
    <%= link_to "改派技师", pick_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <%= link_to "设置手续费", procedure_price_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% if current_merchant.admin? %>
    <% if @order.offline? %>
      <%= link_to " 确认完工 ", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn btn-success  btn-lg", data: {disable_with: "提交中..."}  %>
    <% else %>
      <%= link_to " 确认完工 ", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn  btn-success  btn-lg",data: {confirm: "线下交易为否订单，确认完工将增加技师余额，请考虑是否使用完工并提现？" } %>
    <% end %>
    <% end %>
    <%= link_to "申请返工", rework_merchants_hosting_order_path(@order), method: :post, class: "btn btn-primary", data: {confirm: "您确定要申请返工？"}  %>
    <% if  @order.sendpay? %>
      <%= link_to "申请撤单", revoke_merchants_hosting_order_path(@order), class: "btn btn-danger", data: {confirm: "套装内loc订单，京东不允许退款，您确定要申请撤单？" }%>
    <% else %>
       <%= link_to "申请撤单", revoke_merchants_hosting_order_path(@order), class: "btn btn-danger" ,data: {confirm: "您确定要申请撤单？" }%>
    <% end %>
    <% if @order.emergency? %>
      <%= link_to "取消紧急", unemergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>      
    <% else %>
      <%= link_to "紧急订单", emergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <% if current_merchant.admin? %>
    <%= link_to "完工并提现", confirmwithdrawal_merchants_hosting_order_path(@order), method: :post, class: "btn btn-primary", data: {disable_with: "提交中..."} %>
    <% end %>
  </div>
<% when :finished %>
  <div class="pull-right">
    <%= link_to "点评技师", review_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% if @order.emergency? %>
      <%= link_to "取消紧急", unemergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>      
    <% else %>
      <%= link_to "紧急订单", emergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% end %>
  </div>
<% when :reviewed %>
  <div class="pull-right">
    <% if @order.emergency? %>
      <%= link_to "取消紧急", unemergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>      
    <% else %>
      <%= link_to "紧急订单", emergency_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
