<h3 class="page-header">部分核销</h3>

<div class="row">
  <div class="col-md-7">
	<%= index_for [ :merchants, :hosting, @partchecks ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :quoted_price %>
      <%= i.attribute :quantity %>
      <%= i.attribute :mechanic_income %>
      <%= i.attribute :procedure_price %>
      <%= i.attribute :created_at, format: :short %>
      <%= i.attribute :confirm_by  %>
    <% end %>

  <%= bootstrap_simple_form_for([ :merchants, :hosting, @partcheck ]) do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field :order_id %>
      <%= f.input :quoted_price %>
      <%= f.input :quantity %>
      <%= f.input :mechanic_income %>
      <%= f.input :procedure_price %>

      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    <% end %>
   
  </div>
</div>