<div class="row">
  <div class="col-md-7">
    <%= bootstrap_simple_form_for([ :merchants, @number ]) do |f| %>
      <%= f.error_messages %>

      <%= f.input :pwd_number_default %>

       <%= f.input :status, collection: enum_option_pairs(Number, :status) %>

      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    <% end %>
  </div>
</div>
