<h3 class="page-header">
  核销码管理
  <small><%= link_to "添加核销码", new_merchants_order_number_path %></small>
</h3>

<%= index_for [ :merchants , @numbers ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :pwd_number_default %>
  <%= i.attribute :created_at, format: :short %>
  <%= i.attribute :updated_at, format: :short %>     

  <%= i.actions :edit  do |a| %>
   <%= a.action_link :edit, url: edit_merchants_order_number_path(i.object.order_id) %>
  <% end %>
<% end %>
