<div class="col-md-2 col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= "active" if controller_name == "provinces" %>"><%= link_to "2系列技师订单数", admin_reports_provinces_path %></li>
    <li class="<%= "active" if controller_name == "finishedprovinces" %>"><%= link_to "技师完工订单数", admin_reports_finishedprovinces_path %></li>
    <li class="<%= "active" if controller_name == "metrics" %>"><%= link_to "余额变动记录", admin_metrics_path %></li>
    <li class="<%= "active" if controller_name == "dayreports" %>"><%= link_to "日报表", admin_reports_dayreports_path %></li>
    <li class="<%= "active" if controller_name == "profits" %>"><%= link_to "利润明细", admin_reports_profits_path %></li>
  </ul>
</div>
