
<div class="row">
  <%= render "admin/reports/side_menu" %>

  <div class="col-md-10 col-xs-8">
      <% 
  @start_date = if(params[:start_date]) 
      Date.parse(params[:start_date])
    else
      Date.today-3.year
      end %>
  <% @end_date = if(params[:end_date]) 
      Date.parse(params[:end_date])
    else
      Date.today 
    end  %>


  <% @provinces_data = Province.all.map do |o|
      o.name
     end %>
     
   <% @data = Province.all.map do |o|
        Order.dones.where(province_cd:o.id).where(finish_working_at: (@start_date)..(@end_date+1.day)).count      
     end %> 


<form class="form-inline" id="reports_form">
<input type="text" id="start_date" name="start_date" value="<%=  @start_date %>"> 到 <input type="text" id="end_date" name="end_date" value="<%=  @end_date %>"> 
      <%= submit_tag("Search") %>
 </form>
 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 800px;height:980px;"></div>
    
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $( "#start_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @start_date %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'], 
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'], 
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });
    $( "#end_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      defaultDate:'<%=  @end_date %>',//默认日期  
      dateFormat: 'yy-mm-dd',
      monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
      monthNamesShort: ['一','二','三','四','五','六', '七','八','九','十','十一','十二'],  
      dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
      dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
      dayNamesMin: ['日','一','二','三','四','五','六'] 
    });

          // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
    var option = {
          title: {
              text: '技师完工订单数'
          },
          tooltip: {},
          legend: {
              data:['订单数']
          },
          yAxis: {
              data: <%= raw @provinces_data %>
          },
          xAxis: {},
          series: [{
              name: '订单数',
              type: 'bar',
              data: <%= raw @data %>
          }]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

  });
        
</script>


